.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .1s ease-in-out;
    opacity: 1;
}

.container_hidden {
    opacity: 0;
}

.container_focused {
    margin-top: 40vh;
    padding-bottom: 20vh;
}

@supports (-webkit-touch-callout: none) {
    .container_focused {
        margin-top: 0px;
    }
}

.error_message{

    color: red;
    margin-top: 20px;
    width: 90%;
}

@media (min-height: 300px){

    .container_focused {
        margin-top: 15vh;
        padding-bottom: 10vh;
    }

    @supports (-webkit-touch-callout: none) {
        .container_focused {
            margin-top: 0px;
        }
    }
    

}