.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .1s ease-in-out;
    opacity: 1;
}

.container_hidden {
    opacity: 0;
}

.container_focused {
    margin-top: 50px;
}

@supports (-webkit-touch-callout: none) {
    .container_focused {
        margin-top: 0px;
    }
}