
.container{
    height: 30px;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    width: 255px;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.488);
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    margin-top: 20px;
    animation: fadein 0.2s forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

@keyframes fadein{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.title {
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    color: black;
    z-index: 3;
    font-weight: 500;

}

.subject {
    color: rgba(0, 0, 0, 0.548);
    margin-left: 10px;
    margin-top: 5px;
    z-index: 3;
}

.expanded_content{
    animation: fadein 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy_button{

    width: 70%;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
    display: block;
    border-radius: 0px;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    90%{opacity: 0;}
    100%{opacity: 1;}
}