.container {
    height: 35px;
    transition: height 0.2s ease-in, padding 0.2s ease-in;
    -webkit-transition: height 0.2s ease-in, padding 0.2s ease-in;
    width: 255px;
    box-shadow: 1px 1px 10px -2px rgba(128, 128, 128, 0.488);
    padding: 10px;
    border-radius: 3px;
    position: relative;
    background-color: whitesmoke;
    margin-top: 20px;
    animation: fadein 0.2s forwards;
    -webkit-animation: fadein 0.2s forwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    opacity: 0;
    -webkit-opacity: 0;
    padding-bottom: 15px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        -webkit-opacity: 0;
    }
    100% {
        -webkit-opacity: 1;
    }
}

.selected_clickable_area {
    width: 82%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.selected_clickable_area:hover {
    cursor: pointer;
}

.title {
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    color: black;
    z-index: 3;
    font-weight: 500;
}

.subject {
    color: rgba(0, 0, 0, 0.548);
    margin-left: 10px;
    margin-top: 5px;
    z-index: 3;
}

.expanded_content {
    animation: fadein 0.5s ease-in-out;
    -webkit-animation: fadein 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        -webkit-opacity: 0;
    }
    90% {
        -webkit-opacity: 0;
    }
    100% {
        -webkit-opacity: 1;
    }
}