.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-bottom: 50px;
    overflow: scroll;
    width: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

.note_container{
    margin-top: 75px;
}

.prompt_container{
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.prompt_text{
    width: 250px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.no_notes_prompt_image{
    width: 300px;
    margin-top: 40px;
}

.notes_graphic{
    width: 250px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 900;
}

@media (orientation: landscape){

    .note_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-auto-rows: minmax(auto, auto);
        background-color: aqua;
    }
}

.my_masonry_grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    margin-top: 75px;
  }
  .my_masonry_grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
   