.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
}

.background_image{

    background-image: url("../../Assets/Image/Auth_background.svg");
    background-size: auto;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.4;
}