.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 20px;
    margin-top: 15px;

}

.error_message{

    color: red;
    margin-top: 20px;
    max-width: 60%;
    text-align: center;
    border: 1px solid red;
    padding: 5px 20px;

}

.form_step_container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prompt_text{

    text-align: center;
    width: 100%;
    margin-top: 8px;
    font-size: 14px;

}

.bottom_section{
    background: white;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 80%;
    z-index: 0;
    background-image: url("../../Assets/Image/Auth_background.svg");
    background-size: auto;
}

.bottom_image{
    height: 240px;
    position: fixed;
    bottom: 0px;
    animation: fade-in 0.3s;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
