.container{
    display: flex;
    flex-direction: column;
}

.section_title{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section_title:hover{
    cursor: pointer;
}

.white_background_provider{
    background-color: white;
    padding: 15px;
    position: relative;
    left: -15px;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.315);
}