.container {
    margin-left: 10px;
    padding: 2px 6px;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

.cross {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: red;
    width: 9px;
    height: 9px;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

