.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 30px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.form_wrapper{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-top: 20px;
    margin-left: -2px;
}

.reset_button{
    color: white;
    font-size: 18px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
}

.reset_button:hover{
    cursor: pointer;
}

@media(min-width:1200px){

    .container{
        padding-top: 100px;
    }
}