.container{
    width: 80%;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.488);
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255);
    font-weight: 100;
    margin-top: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    font-weight: 500;
}