.container{
    background-color: white;
    width: 43%;
    height: 100px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.container:hover{
    cursor: pointer;
}

.text{
    position: absolute;
    bottom:5%;
    font-size: 15px;
}

.text:hover{
    cursor: pointer;
}

.icon{
    height: 50px;
    width: 50px;
    position: relative;
    top:-5px
}

.icon:hover{
    cursor: pointer;
}