.container{
    width: 225px;
    background-color: white;
    padding: 8px 5px;
    padding-top: 2px;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.281);
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    border: 1px solid;
}

.label{
    font-size: 12px;
}

.input{
    border: none;
    outline: none;
    display: flex;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.826);
    background-color: transparent;
}

.text_area{
    height: 130px;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 0;
    font-size: 14px;
    width: 95%;
}

@supports (-webkit-touch-callout: none) {
    .input {
        margin-left: -1%;
    }
}