.container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    z-index: 1;
    font-weight: 900;
}

.container:hover{
cursor: pointer;
}

.button{

    width: 100px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 0.8s;
    font-weight: 900;
    font-size: 18px;

}

@keyframes fadein {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.next_button{

    color: white;
}

.reset_button{
    color: white;
    width: 45%;
    animation: fadein 0.2s forwards;
    animation-delay: 0.8s;
    opacity: 0;

}


@keyframes fadein{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

