.container{
    padding: 15px 0;
    padding-top: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-in .5s forwards;
    position: relative;
    left: 100vw;
}

@keyframes slide-in {
    0%{
        left: 100vw;
    }
    100%{
        left: 0;
    }
}

.button{
    padding: 7px 14px;
    box-sizing: 5px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}