.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    animation:fade-in 1s forwards;
    opacity: 0;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.icon{
    width:50px;
    margin: auto;
    margin-top: 15px;
}

.white_background_provider{
    background-color: white;
    padding: 15px;
    position: relative;
    left: -15px;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.315);
}