.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-bottom: 250px;
    overflow: scroll;
    width: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

.sticky_top_section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:0px;
    background-color: #EAEFF2;
    z-index: 2;
}

.title {
    font-size: 25px;
    margin-top: 75px;
    font-weight: 500;
    z-index: 3;
    position: relative;
    width: 80%;
    text-align: center;
}


@media (orientation: landscape) {
    .note_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-auto-rows: minmax(auto, auto);
        background-color: aqua;
    }
}

.my_masonry_grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
    margin-top: 0px;
    position: relative;
    top: 180px;
}

.my_masonry_grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

.button_container {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEFF2;
}