.container {
    width: 100%;
    z-index: 7;
}

.copy_button {
    margin: auto;
    width: 80%;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
    display: block;
    border-radius: 0px;
}

.copy_button_animated {
    animation: fade-in .6s ease-in forwards;
    animation-delay: 0.1s;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.copy_button:hover {
    cursor: pointer;
}

.editable_container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
}

.textarea {
    background-color: wheat;
    width: 92%;
    height: 78%;
    border-radius: 5px;
    margin-top: 3%;
    resize: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    white-space: pre-wrap;
}

.textarea::-webkit-scrollbar {
    display: none;
}