.container {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 5px;
    min-height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
}

.toggle_link_container {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.toggle_link, .title{
    margin-left: 15px;
    font-size: 22px;
}

.toggle_link:hover {
    cursor: pointer;
}
